/* #c96b5f -rgba(201, 107, 95, .8) - cup orange */
/* #ffe3bd - dark lemon  - replace blanchealmond */
/* #7b8f86 - green leaf - replace darkseagreen */
/* #e7e3d4; - nice greish */
/* #5a636b; - dark grey */
/* #f5e6cc; - almond like */
/* font-family: 'Nunito Sans', sans-serif; */
/* font-family: 'Roboto', sans-serif; */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
section, article, main, aside, footer, nav, video, audio, header, figure, picture {
    display: block;
}

body {
    background: url(../images/apartment-apple-chair-245032-3.jpg) no-repeat center center;
	font-family: 'Roboto', sans-serif;
	background-size: cover;
    position: relative;
    min-height: 100vh;
}
#container {
     background-color: rgba(255,255,255,.4);
}
article.resume {
     background-color: rgba(255,255,255,.85);
     border: solid 1px #333;
}
img {
	width: 100%;
	height: auto;
}

h1, h2 {
	text-align: center;
	font-size: 3.6em;
	letter-spacing: 0.1em;
	color: #c96b5f; /* burgundy */
    /* text-shadow: horiz. offset, vert. offset, blure, color */
    text-shadow: 1px 1px 2px lightgoldenrodyellow, /* #fff,*/
                 2px 2px 3px #666,
                 3px 3px 5px #999;
	background-color: rgba(255,255,255, 0.85);
	width: 90%;
	margin: auto;
}
h2 {
	font-size: 2.8em;
	color: #e7e3d4;
	background-color: rgba(255,255,255, 0.85);
}
#portfolio h2 {
		margin-bottom: 10px;
	}
#about h3, #contact h3, #feedback h3 {
	font-size: 1.2em;
	line-height: 1.4em;
	letter-spacing: 0.01em;
	width: 90%;
	margin: auto;
	padding: 15px;
	font-style: italic;
	color:  #666; /* #7b8f86; #5a636b;*/
	text-align: center;
	/*color: #e7e3d4;*/
	background-color: rgba(255,255,255, 0.85);
}
#about ul.bullets {
	text-align: center;
	background-color: rgba(255,255,255, 0.85);
	width: 90%;
	margin: auto;
}
#about ul.bullets li {
	width: 2%;
	display: inline-block;
	margin: 0 4px;
}
h2.colorBurg, .colorBurg {
	color: #c96b5f;
}

h2.colorGr {
	color: #7b8f86;
}

#contact h2 {
	font-size: 2.4em;
	padding: 0 0.3em 0.5em;
}

#contact h2:last-of-type {
	margin-bottom: 1.2em;
}
#contact a[href^="mailto:"],
#contact a[href^="tel:"] {
	border: solid 2px #e7e3d4; /*#7b8f86; */
	padding: 0 0.3em;
	color: #7b8f86;
	border-radius: 25px;
	background-color: #ededed; /*#e7e3d4; /*floralwhite; */
}

p {
    line-height: 1.4;
	color: dimgray;
    margin-bottom: .75em; /* 12px/16=.75 */
}
a {
	text-decoration: none;
}

#myPhoto {
	float: left;
	width: 15%;
	height: auto;
	border: solid 5px #e7e3d4; /*#c96b5f; - med cup */
	margin: 2% 0 0 2%;
}
header {
	height: 100px;
	background-color: #5a636b; /* dark grey */
	position: relative;
}

/* Navigation - Hamburger menu for mobile */

nav.mainNav {
   /* background-color: rgba(143,188,143,.7);*/ /*darkseagreen; */
	margin-top: 3.5%;
	font-family: 'Nunito Sans', sans-serif;
/*	font-family: 'Roboto', sans-serif;*/
}

.mainNav ul {
    list-style-type: none;
}
/*mainNav li {
    border-bottom: solid 2px blanchedalmond;
}*/
.mainNav li a {
    display: block;
    padding: .5em;
}
.mainNav li a i {
	color: white; /* dimgray; */
}
#navigation nav {
    height: 0;
    overflow: hidden;
}
   /* fixing problems on some browsers - tricking */
body {
    -webkit-animation: bugfix infinite 1s;
}
@-webkit-keyframes bugfix {
    from { padding: 0;}
    to { padding: 0;}
}
#navigation input[type=checkbox] {
    position: absolute;
    top: -999em;
    left: -999em;  /* hide checkbox out of screen */
}
#navigation label {
    display: block;
    background: url("../images//nav-icon.png") no-repeat right center;
    position: relative;
    top: 0px;
    right: 20px;
    text-indent: -999em;
    cursor: pointer;
    user-select: none;
	font-size: 5em;
    /*color: white;*/
}
#navigation input[type=checkbox]:checked ~ nav {
    height: auto;
    overflow: hidden;
}
/* End of Navigation */
nav {
	float: right;
	width: 100%;
	background-color:  #5a636b;
}
nav a:link {
    color: white;
    text-decoration: none;
	font-size: 1.4em;
    font-weight: bold;
    padding: 4px 8px;
    display: block;
    border: solid 1px blanchedalmond;
}
nav a:visited {
    color: white;
    border: solid 1px blanchedalmond;
}
nav a:hover {
    background-color: rgba(201, 107, 95, .8); /* rgba(222,184,135,.8); burlywood;*/
    color: lightgoldenrodyellow;
    border: solid 1px white;
}
nav a:active {
    color: lightgoldenrodyellow; /* #7b8f86;*/
	background-color: #7b8f86;  /*lightgoldenrodyellow;*/
}
nav a:active i {
	color: lightgoldenrodyellow; /*#7b8f86;*/
}
nav a.active {
	color: dimgray;
	background-color: floralwhite;
	border: solid 1px lightgoldenrodyellow;
}
nav a.active i {
	color: dimgray;
}

main {
	clear: both;
   /* margin-top: 20px;*/
   	padding-bottom: 10%; /*140px; */
}
.callOut {
	background-color: #7b8f86; /* rgba(143,188,143,.9); darkseagreen; */
  	color: lightgoldenrodyellow;
	font-size: 1.4em;
	margin-left: 4%;
	padding: 3px 5px;
}

/*
.blinking{
    animation:blinkingText 2.5s infinite;
}
@keyframes blinkingText{
    0%{     color: lightgoldenrodyellow;    }
    49%{    color: transparent; }
    50%{    color: lightgoldenrodyellow; }
    99%{    color:transparent;  }
    100%{   color: lightgoldenrodyellow;    }
}
*/
#gallery {
	width: 80%;
	float: left;
}
.galWrapper {
       background-color:  #ededed; /* #eae1db; */
       padding: .5em;
	   font-family: 'Nunito Sans', sans-serif;
       /*font-family: 'Roboto', sans-serif; */
       margin: 2% 0 0 0;
       display: flex;
       justify-content: space-between;
       flex-wrap: wrap; /* nowrap*/
 }
.galWrapper article {
    padding: 10px 0;
    flex-direction: column;
	background-color: floralwhite; /* #e58241; /*#ffe3bd; /* blanchedalmond; */
}
.galWrapper article img {
    border: solid 2px white;
}
.galWrapper article h3 {
    font-size: 1em;
    color: dimgray;
	margin-bottom: 0.5em;
}
button {
	background-color: #c96b5f; /* burlywood -> cup orange */
	margin: 5px;
	padding: 3px;
	min-width: 80px;
	color: white;
}

a.gitHub img {
	width: 7%;
	height: auto;
	border: none;
	position: relative;
	top: 0px;
	background-color: rgba(201, 107, 95, .8);  /* rgba(222,184,135,.8) - burlywood; */
	float: right;
	margin-right: 2%;
	margin-bottom: 1%;
}

.card {
   width: 95%;
   height: 100vp;  /* updated for safari problem */
   color: #fff;
   font-size: 1em;
   margin: 0.5em auto;
   display: flex;
   align-items: center;
   justify-content: center;
   border: solid 5px #7b8f86; /*darkseagreen; */
   padding: 5px;
 }
/* flip cards */

.card:hover .card-content {
	transform: rotateY(180deg);
	transition: transform 2s;
	-webkit-transform: rotateY(180deg);
	-webkit-transition: transform 2s;
	-o-transform: rotateY(180deg);
	-o-transition: transform 2s;
	-moz-transform: rotateY(180deg);
	-moz-transition: transform 2s;
}
.card-content {
	transition: transform 1s;
	transform-style: preserve-3d;
	-webkit-transition: transform 1s;
	-webkit-transform-style: preserve-3d;
	-o-transition: transform 1s;
	-o-transform-style: preserve-3d;
	-moz-transition: transform 1s;
	-moz-transform-style: preserve-3d;
	width: 100%;
	height: 100vp;
}
.front, .back {
	backface-visibility: hidden;
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	-o-backface-visibility: hidden;
	/*position: absolute;*/
	width: 100%;
	height: 100vp;
	margin: 0 5%;
}

.back {
	/*background: url(../images/rrp2.png) no-repeat; */
	transform: rotateY(180deg);
	-webkit-transform: rotateY(180deg);
	-o-transform: rotateY(180deg);
	-moz-transform: rotateY(180deg);
	margin-top: -104%;
	margin-left: -5%;
}

/* end flip cards */

/*article.card:nth-of-type(4) {
    display: none;
}*/
article.card:last-of-type {
    margin-bottom: 60px;
  }
.card img.snap {
	width: 90%;
    min-height: 1px;
	height: auto;
}
/*.card img {
	transition: all .2s ease;
    vertical-align: middle;
}
.card img:hover {
	transform: scale(1.5);
}*/
hr {
	margin: 8px 0;
}
footer {
	clear: both;
	background-color: #7b8f86; /* rgba(143,188,143,.9);*/ /*darkseagreen; */
	text-align: center;
	padding: 2% 0 3%;
	margin-top: 2%;
	color: #fff;
    position: absolute;
    bottom: 0;
    min-width: 100%;
}
footer a {
	color: white;
}
footer a.active {
	color: #ffe3bd; /* #c96b5f; */
}
footer a:hover {
	color: #da7a6e;
}

.social a {
	width: 10px;
	height: 10px;
	color: black;
	background-color: antiquewhite;
}
.clearIt {
	clear: both;
}
/* HOME PAGE */

#home article {
	margin: 35px 0;
}
#home h2 {
	padding: 6px 0;
}
.hmAnim {
	display: none;
}
.hmAnim .callOut {
	background-color: #c96b5f; /* orange/burgundy */
	/*rgba(143,188,143,.9); /* darkseagreen; */
  	color: lightgoldenrodyellow;
	min-width: 30%;
	text-align: center;
	font-size: 1.3em;
	padding: 3px 5px;
	margin: 2% 8%;
}
h2.hmAnim {
	color: #7b8f86;
}
/* RESUME PAGE */

#resWrap h1 {
	font-size: 2.4rem;
	color:#e7e3d4; /* nice grey */
	background: none;
}
#resWrap h2 {
	font-size: 2.0rem;
	color: #da7a6e;
	background: none;
	margin-bottom: 5px;
}
#resWrap h3 {
	font-size: 1.3rem;
	margin-bottom: 10px;
	text-align: center;
	color: floralwhite;
	text-transform: uppercase;
}

#resWrap aside {
	margin: 0;
	padding: 2% 1% 8%;
	background-color:  floralwhite;
	font-size: 1.1em;
}

#resWrap aside ul {
	padding-bottom: 1.2em;
}
#resWrap article {
	background-color: rgba(255,255,255,.9);
	margin: -45px 0 20px 0;
	padding: 0 2% 1%;
}

#resWrap article h3 {
	background-color: #7b8f86; /*#FEE8D6; /* wheat; /*#f5e6cc; /* almond */
	border-radius: 25px;
	padding: .5%;
}
#resWrap section {
	margin-left: 1.5%;
}
#resWrap .col3 {
	width: 31%;
	float: left;
	margin: 0 1% 2% 1%;
	/*border: solid 3px #da7a6e;*/
	padding: 2%;
	background-color: floralwhite; /* #e7e3d4; /*rgba(255,255,255,.9); */
}
#resWrap .col3 ul {
	list-style-type: none;

}
#resWrap .col3 ul li {
	margin-bottom: 0.2em;
}

#skills {
	font-size: 0.8em;
}

/*#resWrap aside {
	display: none;
}*/
/* Dont show slideShow on mobile view */
#samples, #slideNav, #resWrap aside h3 {
	display: none;
}

aside ul {
	 list-style-type: none;
}

#resWrap aside h3 {
	color:  #7b8f86;
	margin: 10px 0;
}
/* Slide Show */

#samples img {
	max-width: 100%;
	height: auto;
	margin-bottom: 5%;
	border: solid 5px #e7e3d4; /*#5a636b; */ /*#da7a6e; */
	/*transition: all .2s ease;*/
    /*vertical-align: middle;*/
}
/*#samples img:hover {
	transform: scale(1.5);
}*/

#samples {
	padding-bottom: 30px;
}

#samples ul ul li {
	display: inline-block;
	width: 49%;
}
/* WORKING !!!!! */

#resWrap aside h3 {
	background-color: #7b8f86;
	border-radius: 25px;
	padding: .5%;
	color: floralwhite;
}
#resWrap article h1,
#resWrap article h2 {
	display: none;
}
#resWrap aside h1, #resWrap aside h2 {
	display: block;
}
#resWrap aside, #resWrap article {
	border: none;
}
#resWrap #skills article {
	border: solid 3px #7b8f86;
}
.contact ul {
	text-align: center;
	color: #5a636b;
}
.contact ul li {
	display: inline-block;
	padding: 2%;
}
aside #slideNav {
	text-align: center;
    width: 100% !important;
	margin-bottom: 10px;
    padding-top: 10px;
}
#slideNav ul {
	width: 100% !important;
	margin-bottom: 10px;
	padding: 8px 0 2px;
	background-color: rgba(231, 227, 212, 0.6); /*#e7e3d4;*/
}
#slideNav li {
    display: inline-block;
    padding: 2px 5px;
    margin: 3px;
    background-color: #7b8f86;
    color: white;
}

.resBtnGrp, .artBtn {
	font-family: 'Nunito Sans', sans-serif;
	display: block;
	text-align: center;
	clear:both;
	margin-top: 20px;
	margin-bottom: 20px;
	padding-bottom: 30px;
}
#about .resBtnGrp {
    padding-bottom: 10px;
    margin-bottom: 0;
}

#portfolio .artBtn {
	display: flex;
	align-items: center;
	justify-content: space-around;
	margin-top: 5px;
	margin-bottom: 0;
    padding-bottom: 0;
}

.resBtnGrp a {
	display: block;
	min-width: 250px;
	/*min-width: 25%;*/
	padding: 1% 1.3%;
	font-size: 1em;
	margin: 5%;
	background-color: #c96b5f; /* burlywood -> cup orange */
	color: lightgoldenrodyellow;
}

.artBtn a {
	padding: 3px;
	min-width: 80px;
	margin: 5%;
	background-color: #c96b5f; /* burlywood -> cup orange */
	color: lightgoldenrodyellow;
}
#home .resBtnGrp {
	font-size: 1.4em;
}
.resBtnGrp a i {
	margin-right: 10px;
}
#training ul, #work ul {
	list-style-type: none;
}

#training ul img, #work ul img {
	width: 2%;
	height: auto;
	margin-right: 1%;
}
#training ul li, #work ul li {
	margin-bottom: 2%;
	margin-left: 5%;
}
/*#training ul li:before, #work ul li:before {
   content: url('../images/bullet.gif');
   margin-right: 10%;
}*/

#contact form {
	background-color: rgba(255,255,255, 0.85);
	width: 90%;
	margin: 0 auto;
	padding-bottom: 50px;
}
#contact label {
    width: 100%;
    float: left;
	font-weight: 500;
	padding: 4px 0 2px;
}
#contact input, #contact textarea {
    padding: 4px;
    width: 100%;
    float: left;
	margin-bottom: 10px;
	background-color: none;
	outline: 0;
}
#contact input:focus, #contact textarea:focus {
    border: 2px solid  #7b8f86;
	background-color: floralwhite;
	outline-width: 0;
}

/*#contact input:required, #contact textarea:required: {
    border: 2px solid #7b8f86;
}*/

/*#contact input:optional {
    border: 2px solid #9FBd70;
}*/

#contact input:valid, #contact textarea:valid {
    border: 2px solid #9FBd70;
}

#contact input:invalid, #contact textarea:invalid {
    border: 2px solid #7b8f86; /* #c96b5f; */
}

#contact textarea {
    height: 7em;
}

#contact ul {
    list-style-type: none;
    margin: 0;
    padding: 0 5%
}

#contact ul#radioList {
	margin: 0;
	padding: 0;
}
#contact #radioList li  {
	display: inline-block;
	width: 20%;
	padding-bottom: 0;
    margin-bottom: 0;
}
#contact #radioList label {
	text-align: center;
	font-weight: 500;
}
#contact form li p {
	font-weight: 500;
	margin-bottom: 10px;
}

#contact input[type="submit"] {
    border: 2px solid #7b8f86;
    background-color:  #7b8f86;
    color: #fff;
    padding: .25em .8em;
    margin: .5em .5em;
    width: 126px;
    float:right;
}
#contact h1, #about h1, #feedback h1 {
	font-size: 2.4em;
}
#contact h2, #about h2 {
	font-size: 2em;
}
#contact h3, #feedback h3 {
	padding-bottom: 0.2em;
}
#contact .note {
	font-size: 0.9em;
	margin-left: 5px;
}
#contact span {
	font-size: 1.2em;
	letter-spacing: 0.05em;
	margin: 0 30%;
}

/* Media Quiery */

@media screen and (min-width: 450px) {
	#skills ul li:before {
	   content: url('../images/bullet.gif');
	   margin-right: 10%;
	}
	#skills {
		font-size: 0.9em;
	}
	.resBtnGrp, .artBtn {
		margin-bottom: 10px;
		padding-bottom: 10px;
	}
	#resWrap aside ul {
		padding-bottom: 0.5em;
	}
	#contact h1, #about h1 {
	font-size: 3.6em;
	}
	#contact h2, #about h2 {
		font-size: 2.4em;
	}
	#contact h3, #about h3, #feedback h3 {
		font-size: 1.4em;
	}
	#contact span {
		margin: 0;
    }
	#contact form {
		padding-bottom: 20px;
	}
	.card {
		   width: 45%;
		   height: 60%;
	}
	/*article.card:nth-of-type(4) {
    	display: flex;
	}*/
}

@media screen and (min-width: 730px) {
    #samples, #slideNav,#resWrap aside h3 {
	        display: block;
    }
	#navigation label {
        display: none;
    }
	#navigation nav {
        height: auto;
        overflow: visible;
    }
	#navigation li {
        display: inline-block;
        border: none;
    }
	nav {
		float: right;
		width: 88%;
	}
	nav.mainNav ul {
		display: flex;
		align-items: center;
		justify-content: space-around;
		margin: 0;
	}
	#myPhoto {
		width: 10%;
		margin: 1.5% 0 0 1.5%;
	}
	.callOut {
		font-size: 2.0em;
	}
	.card {
		   width: 30%;
		   height: 40%;
	}
    article.card:last-of-type {
          margin-bottom: 20px;
    }
	a.gitHub img {
		width: 5%;
	}
	#resWrap h1, h2 {
		display: block;
    }
	#resWrap aside h1, #resWrap aside h2 {
		display: none;
	}
	h1, h2, #about h3, #contact h3, #contact form, #feedback h3,
	#about ul.bullets {
		width: 70%;
	}
	.resBtnGrp, .artBtn {
		display: flex;
		align-items: center;
		justify-content: space-around;
		margin: auto;
	}
    #about .resBtnGrp, #resume .resBtnGrp {
		margin-top: 5%;
        margin-bottom: 5%;
    }
	.resBtnGrp a {
		margin: auto;
	}
	#resume .resBtnGrp a {
		/*min-width: none;*/
		font-size: .9em;
	}
	#resWrap aside {
      /*  margin-top: 0.5em;*/
		display: block;
		width: 26%;
		float: left;
		margin: -45px 2% 1% 2%;
	    padding: 45px 1% 0 1%;
		border: solid 3px #7b8f86;
	}
	#resWrap article {
        margin-top: 0.1em;
		width: 68%;
		float: left;
		border: solid 3px #7b8f86;
	}
    #resWrap article h1,
    #resWrap article h2 {
	    display: block;
    }
	#resWrap aside h3 {
		background: none;
		color:  #7b8f86;
	}
	article#slideNav {
		border: none;
    }
	#samples ul ul li {
		display: block;
		width: 100%;
	}
}
@media screen and (min-width: 850px) {
	#skills {
		font-size: 1.1em;
	}
}
