/* #8F00FF - blue violet */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
section, article, main, aside, footer, nav, video, audio, header, figure, picture {
    display: block;
}

body {
    background: url(../images/apartment-apple-chair-245032.jpg) no-repeat center center; /*fixed right bottom;*/

    background-size: cover;
}
#container {
     background-color: rgba(255,255,255,.4);
}
article.resume {
     background-color: rgba(255,255,255,.85);
     border: solid 1px #333;
}
img {
	width: 100%;
	height: auto;
}

h1, h2 {
	text-align: center;
    font-size: 3.6em;
	letter-spacing: 0.1em;
	color: dimgray;
    /*color: #fff9d6;*/
	/* text-shadow: horiz. offset, vert. offset, blure, color */
    text-shadow: 1px 1px 2px #fff,
                 2px 2px 3px #666,
                 3px 3px 5px #999;
}
h2 {
	font-size: 2.8em;
}

p {
    line-height: 1.4;
	color: dimgray;
    margin-bottom: .75em; /* 12px/16=.75 */
}
a {
	text-decoration: none;
}

#myPhoto {
	float: left;
	width: 15%;
	height: auto;
	border: solid 5px blanchedalmond;
	margin: 1.5% 0 0 1.5%;
/*	border-radius: 50%;*/
}
header {
	height: 100px;
	/* background-color: darkseagreen; */
	background-image: linear-gradient(to bottom, darkseagreen, blanchedalmond);
	margin: 2%;
	position: relative;
}

/* Navigation - Hamburger menu for mobile */

nav.mainNav {
    background-color: rgba(143,188,143,.7); /*darkseagreen; */
	margin-top: 3.5%;
}

.mainNav ul {
    list-style-type: none;
}
/*mainNav li {
    border-bottom: solid 2px blanchedalmond;
}*/
.mainNav li a {
    display: block;
    padding: .5em;
}
.mainNav li a i {
	color: dimgray;
}
#navigation nav {
    height: 0;
    overflow: hidden;
}
   /* fixing problems on some browsers - tricking */
body {
    -webkit-animation: bugfix infinite 1s;
}
@-webkit-keyframes bugfix {
    from { padding: 0;}
    to { padding: 0;}
}
#navigation input[type=checkbox] {
    position: absolute;
    top: -999em;
    left: -999em;  /* hide checkbox out of screen */
}
#navigation label {
    display: block;
    background: url("../images/nav-icon.png") no-repeat right center;
    position: relative;
    top: 20px;
    right: 40px;
    text-indent: -999em;
    cursor: pointer;
    user-select: none;
	font-size: 5em;
}
#navigation input[type=checkbox]:checked ~ nav {
    height: auto;
    overflow: hidden;
}
/* End of Navigation */
nav {
	float: right;
	width: 100%;
}
nav a:link {
    color: white;
    text-decoration: none;
	font-size: 1.4em;
    font-weight: bold;
    padding: 4px 8px;
    display: block;
    border: solid 1px blanchedalmond;
}
nav a:visited {
    color: white;
    border: solid 1px blanchedalmond;
}
nav a:hover {
    background-color: rgba(222,184,135,.8); /*burlywood;*/
    color: lightgoldenrodyellow;
    border: solid 1px white;
}
nav a:active {
    color: darkseagreen;
	background-color: lightgoldenrodyellow;

}
nav a.active {
	color: dimgray;
	background-color: blanchedalmond;
	border: solid 1px lightgoldenrodyellow;
}

main {
	clear: both;
}
button.callOut {
	display: left;
	/*width: 20%;*/
	background-color: rgba(143,188,143,.9); /* darkseagreen; */
  	color: lightgoldenrodyellow;
	font-size: 1.4em;
	margin-left: 4%;
	padding: 3px 5px;
}
.blinking{
    animation:blinkingText 2.5s infinite;
}
@keyframes blinkingText{
    0%{     color: lightgoldenrodyellow;    }
    49%{    color: transparent; }
    50%{    color: lightgoldenrodyellow; }
    99%{    color:transparent;  }
    100%{   color: lightgoldenrodyellow;    }
}
/*aside {
	width: 20%;
	float: left;
	background-color: blanchedalmond;
	background-color: blanchedalmond;
}*/
#gallery {
	width: 80%;
	float: left;
}
.galWrapper {
       background-color:  #ededed; /* #eae1db; */
       padding: .5em;
       font-family: 'Roboto', sans-serif;
       margin: 2% 0 0 0;
       display: flex;
       justify-content: space-between;
       flex-wrap: wrap; /* nowrap*/
}
.galWrapper article {
    padding: 10px 0;
    flex-direction: column;
	background-color: blanchedalmond;
}
.galWrapper article img {
    border: solid 2px white;
}
.galWrapper article h3 {
    font-size: 1em;
    color: dimgray;
	margin-bottom: 0.5em;
}
button {
	background-color: burlywood;
	margin: 5px;
	padding: 3px;
	min-width: 80px;
	color: white;
}
.artBtn button {
	background-color: burlywood;
	margin: 5px;
	padding: 2px;
	min-width: 70px;
	color: white;

}
/*.artBtn a.gitHub {
	position: relative;
}*/
a.gitHub img {
	width: 7%;
	height: auto;
	border: none;
	position: relative;
	top: 10px;
	background-color: rgba(222,184,135,.8); /* burlywood; */
	float: right;
	margin-right: 2%;
	margin-bottom: 1%;
}

.card {
   width: 40%;
   height: 50%;
   color: #fff;
   font-size: 1em;
   margin: .5em auto;
   display: flex;
   align-items: center;
   justify-content: center;

   border: solid 5px darkseagreen; /*silver;*/
  /* background-color:  #00ad81;*//**/
}
.card img.snap {
	width: 90%;
	height: auto;
	/* height: 300px; - resize images to be same size */
}
hr {
	margin: 8px 0;
}
footer {
	clear: both;
	background-color: rgba(143,188,143,.9); /*darkseagreen; */
	text-align: center;
	padding: 2%;
	margin: 2%;
	color: white;
}
footer a {
	color: white;
}
.social a {
	width: 10px;
	height: 10px;
	color: black;
	background-color: antiquewhite;
}
.clearIt {
	clear: both;
}
/* HOME PAGE */
.hmAnim {
	display: none;
}
.hmAnim button.callOut {
	background-color: rgba(222,184,135,.8); /* burlywood; */ /*rgba(143,188,143,.9); /* darkseagreen; */
  	color: lightgoldenrodyellow;
	min-width: 30%;
	text-align: center;
	font-size: 1.3em;
	padding: 3px 5px;
	margin: 2% 8%;
}
/* RESUME PAGE */
#resWrap header {
	background-image: none;
	border: solid 1px darkseagreen;
	padding: 0;
}

#resWrap h1,h2,h3 {
	text-align: center;
	color: dimgray;
}
#resWrap h1 { font-size: 2.4rem; /*color: rgba(139,69,19,0.7); saddlebrown; */}
#resWrap h2 { font-size: 2.0rem; color: darkseagreen; }
#resWrap h3 {
	font-size: 1.3rem;
	margin-bottom: 10px;
	text-transform: uppercase;
}


#resWrap aside {
	width: 26%;
	float: left;
	margin: -45px 2% 0;
	padding: 45px 2% 0;
	background-color: blanchedalmond;
}
#resWrap article {
	width: 68%;
	float: left;
	//background-color: aqua;
	margin: -45px 0 0 0;
	padding: 0 2%;
}
#resWrap article h3 {
	background-color: blanchedalmond;
	padding: 1%;

}
aside ul {
	 list-style-type: none;
}
aside img {
	width: 15%;
	height: auto;
}
.resBtnGrp {
	text-align: center;
}
.resBtnGrp button {
	padding: 5px;
	margin: 2%;
}
.resBtnGrp button i {
	margin: 0 3px;
}

/* Media Quiery */

@media screen and (min-width: 450px) {
}

@media screen and (min-width: 730px) {
	#navigation label {
        display: none;
    }
	#navigation nav {
        height: auto;
        overflow: visible;
    }
	#navigation li {
        display: inline-block;
        border: none;
    }
	nav {
		float: right;
		width: 88%;
	}
	nav.mainNav {
    	background-color: darkseagreen;
}
	nav.mainNav ul {
		display: flex;
		align-items: center;
		justify-content: space-around;
		margin: 0;
	}

	#myPhoto {
		width: 10%;
	}
	button.callOut {
		font-size: 2.0em;
	}

	.card {
		   width: 30%;
		   height: 40%;
	}
	.artBtn button {
		padding: 3px;
		min-width: 80px;
	}
	a.gitHub img {
	width: 5%;
	}
}
